<h1> Efetivar Locação </h1>

<% if @cars.any? %>
<%= form_for @car_rental, url: reserve_rental_path do |f| %>
<%= f.label :car_id, 'Carros disponíveis' %>
<%= f.collection_select :car_id, @cars, :id, :view_car %>
<%= f.submit 'Efetivar' %>
<% end %>

<% else %>
<p> Nenhum carro para essa categoria está disponível </p>

<% end %>
