<h1> Modelos de Carros </h1>

<% if @car_models.any? %>
<ul>
  <% @car_models.each do |car_model| %>
  <li> <%= link_to car_model.name, car_model_path(car_model) %> </li>
  <% end %>
</ul>

<% else %>
<h3> Nenhum Modelo cadastrado </h3>

<% end %>

<p>
  <%= link_to 'Registrar modelo de carro', new_car_model_path %>
</p>
