<%= flash[:notice] %>
<h1> Fabricantes </h1>
<% if @manufacturers.empty? %>
<h3> Nenhuma fabricante cadastrada </h3>
<% else %>
<ul>
  <% @manufacturers.each do |manufacturer| %>
  <li> <%= link_to manufacturer.name, manufacturer %> </li>
  <% end %>
</ul>
<% end %>

<%= link_to 'Home Page', root_path %> |
<%= link_to 'Registrar novo fabricante', new_manufacturer_path %>
